<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

<!-- Twitter card configuration from: https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/summary-card-with-large-image -->
{% if site.twitter_user %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter_user }}">
  <meta name="twitter:creator" content="@{{ site.twitter_user }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{{ description | strip_html | condense_spaces | truncate:200 }}">
  <meta name="twitter:image" content="{% if page.image %}https://jivimberg.io{{ page.image }}{% else %}https://jivimberg.io/images/background.jpg{%endif%}">
{% endif %}

