// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Added by jivi: fixing italic style on em
em {
    font-style: italic;
}

@mixin fontStyle() {
   margin-left: 15px;
   font-weight: 300;
   font-size: 16px;
   line-height: 1.5;
}

.full-single-article ul {
    @include fontStyle();
    list-style: square inside;
}

.full-single-article ol {
    @include fontStyle();
    list-style: decimal inside;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.left {
  float: left;
  margin-right: 1.5em;
}

img.right {
  float: right;
  margin-left: 1.5em;
}
