// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

pre.CodeMirror-line {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

// Added by jivi: fixing italic style on em
em {
    font-style: italic;
}

// Added by jivi to center image captions
.img-caption {
    text-align: center;
    display: block;
}

.social-icon {
  margin-right: 10px;
}

.social-icon-list a {
  opacity: 0.5;
}

.social-icon-list a:hover {
  opacity: 1;
}

@mixin fontStyle() {
   margin-left: 15px;
   font-weight: 300;
   font-size: 18px;
   line-height: 1.5;
}

.full-single-article ul {
    @include fontStyle();
    list-style: square inside;
}

.full-single-article ol {
    @include fontStyle();
    list-style: decimal inside;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.left {
  float: left;
  margin-right: 1.5em;
}

img.left-fill {
  float: left;
  margin-left: 100%;
}

img.right {
  float: right;
  margin-left: 1.5em;
}

img.right-fill {
  float: right;
  margin-left: 100%;
}
