// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.hero>p {
    font-weight:100;
}

// Added by jivi: fixing italic style on em
em {
    font-style: italic;
}

.full-single-article ul {
    list-style: square inside;
    margin-left: 15px;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}
